/* 控件默认样式定义 */
@import 'var';

/* 最大 750 */
$dialog_max_height: 46.875rem;
$dialog_header_height: $line_high_normal * 2.25;
$dialog_footer_height: $line_high_normal * 2.8;

/* 对话框样式 */
.ax_dialog {
  display: flex;
  align-items: center;
  justify-content: center;

  &.not_modal {
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    margin: 0;
  }

  .el-dialog {
    position: fixed;
    width: auto;
    min-width: calc(#{$font_size_normal} * 268 / 16);
    background-color: $panel_color_normal;
    font-size: $font_size_normal;
    box-shadow: $shadow_normal;
    margin: 0;
    border-radius: 0.5rem;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      flex: 1;
      cursor: move;
      padding: 0 0 0 2rem;
      height: 3.5rem;
      line-height: 3.5rem;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: normal;
      line-height: inherit;
    }

    &__body {
      /* 最大的窗口高度 */
      padding: 0.5rem 2.6rem;
      font-size: 1rem;
      overflow: auto;
    }

    &__footer {
      flex: 1;
      margin: 0 2.6rem;
      padding: 0.5rem 0 1.5rem 0;

      .dialog_button {
        margin-right: 1rem;
      }
    }

    &__headerbtn {
      top: 1rem;
      right: 1rem;
    }

    &__close {
      color: #171717;
      font-size: 1.5rem;

      &:hover {
        color: $panel_color_hover;
      }
    }

    &.no_min_width {
      min-width: auto;
    }
  }

  .show_footer_line {
    .el-dialog__footer {
      border-top: 1px solid #d9d9d9;
      padding: 1.5rem 0;
    }
  }

  .show_content_loading {
    .el-dialog__body {
      > * {
        display: none;
      }
      > .content_loading {
        display: flex;
      }
    }
  }

  .content_loading {
    height: 5rem;
    display: flex;

    @keyframes move {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 5rem;
      }
    }
    .loading_bar {
      width: 100%;
      margin-top: 1.5rem;
      height: 0.5rem;
      border: 1px solid #66bffe;
      border-radius: 1rem;
      background-color: #66bffe;
      background-size: 2.5rem 2rem;
      background-image: linear-gradient(
        50deg,
        transparent 25%,
        transparent 0,
        transparent 50%,
        white 0,
        white 75%,
        transparent 0,
        transparent
      );
      animation: move 1s infinite;
      animation-timing-function: linear;
    }
  }
}
