@import 'var';

/* 复选框边线颜色 */
@mixin treeCheckboxColor() {
  .el-checkbox__inner {
    border-color: #449cf2;
    &::after {
      border-color: #449cf2;
    }
    &::before {
      background-color: #449cf2;
    }
  }
}

@mixin treeCheckboxColorActive() {
  .el-checkbox__inner {
    border-color: #fff;
    &::after {
      border-color: #fff;
    }
    &::before {
      background-color: #fff;
    }
  }
}

/* 目录树组件样式 */
.ax_tree {
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  position: relative;

  &_border {
    border: $tree_border;
    border-radius: $tree_radius;
  }

  .tree_debug {
    position: absolute;
    width: 100%;
    height: 10rem;
    right: 0;
    bottom: 0;
    font-size: 12px;
  }

  .el-tree {
    width: 100%;
    min-width: max-content;
    background: transparent;
    color: $font_color_normal;
    /*   padding: $line_high_normal * 0.2; */

    /* 目录节点(含子节点) */
    .el-tree-node {
      width: 100%;
      min-width: max-content;

      /* 复选框样式 */
      .el-checkbox {
        height: 100%;

        /* 勾选框未选中 */
        .el-checkbox__input {
          margin-top: 45%;

          .el-checkbox__inner {
            border: $tree_checkbox_border;
            width: $line_high_normal * 0.6;
            height: $line_high_normal * 0.6;
            background: transparent;
            border-radius: $tree_checkbox_radius;

            &::after {
              border-radius: $checkbox_radius;
              top: $line_high_normal * 0.03;
              left: $line_high_normal * 0.12;
              border-width: $line_high_normal * 0.1;
              border-color: $tree_checkbox_color;
              width: $line_high_normal * 0.15;
              height: $line_high_normal * 0.25;
            }

            /* 中间模糊状态样式 */
            &::before {
              top: $line_high_normal * 0.1;
              left: -$line_high_normal * 0.09;
              border-width: $line_high_normal * 0.1;
              background-color: $tree_checkbox_color;
              width: $line_high_normal * 0.68;
              height: $line_high_normal * 0.3;
            }
          }
        }

        /* 焦点样式 */
        &.is-focus {
          .el-checkbox__input {
            @include treeCheckboxColorActive();
          }
        }
      }

      /* 目录节点行 */
      .el-tree-node__content {
        width: 100%;
        min-width: max-content;
        height: 2.3rem;
        border-radius: $tree_node_radius;
        border: $tree_node_border;
        margin-right: $line_high_normal * 0.1;
        box-sizing: border-box;

        /* 箭头图标 */
        .el-tree-node__expand-icon {
          color: #459cf2;
          &.is-leaf {
            color: transparent;
          }
        }
        /* 加载图标 */
        .el-tree-node__loading-icon {
          color: #459cf2;
        }

        &:hover {
          background: #d9ecfd;
          color: $tree_text_hover;
          @include treeCheckboxColor();
          /* 箭头图标 */
          .el-tree-node__expand-icon {
            &.is-leaf {
              color: transparent;
            }
          }
          /* 加载图标 */
          .el-tree-node__loading-icon {
          }
        }

        &:focus {
          background: #d9ecfd;
          color: $tree_text_focus;
          @include treeCheckboxColor();
          /* 箭头图标 */
          .el-tree-node__expand-icon {
            &.is-leaf {
              color: transparent;
            }
          }
          /* 加载图标 */
          .el-tree-node__loading-icon {
          }
        }

        &:active {
          background: #d9ecfd;
          color: $tree_text_active;
          @include treeCheckboxColor();
          /* 箭头图标 */
          .el-tree-node__expand-icon {
            color: #fff;
            &.is-leaf {
              color: transparent;
            }
          }
          /* 加载图标 */
          .el-tree-node__loading-icon {
            color: #fff;
          }
        }
      }
    }

    /* 节点数据 */
    .tree_node {
      height: 100%;
      width: 100%;
      min-width: max-content;
      display: flex;
      align-items: center;
      padding-right: $line_high_normal * 0.3;

      .tree_icon {
        width: $line_high_small;
        margin: 0 $line_high_normal * 0.2 0 $line_high_normal * 0.1;
        height: $line_high_small;
        line-height: $line_high_small;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        color: #449cf2;
        font-size: 1rem;
      }

      .tree_image {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.4rem 0 0.2rem;
        line-height: 1.5rem;
        padding: 0.25rem;
        box-sizing: border-box;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      .tree_text {
        line-height: 1;
        font-size: 1rem;
      }
    }

    /* 节点选中样式 */
    .el-tree-node.is-current {
      /* 目录节点行 */
      > .el-tree-node__content {
        background: linear-gradient(165deg, #61b6ff 0%, #4ba7f7 98%);
        color: #fff;

        /* 箭头图标 */
        .el-tree-node__expand-icon {
          color: #fff;
          &.is-leaf {
            color: transparent;
          }
        }
        /* 加载图标 */
        .el-tree-node__loading-icon {
          color: #fff;
        }

        /* 箭头图标 */
        .el-tree-node__expand-icon {
          &.is-leaf {
            color: transparent;
          }
        }

        /* 复选框边线颜色 */
        @include treeCheckboxColorActive();
        /*  选中的 图标 */
        /* 节点数据 */
        .tree_node {
          i.tree_icon {
            color: #fff !important;
          }
        }
      }
    }
  }

  /* 无效文本样式 */
  .el-tree__empty-text {
    font-size: $font_size_normal;
    color: $font_color_disabled;
  }

  /* 动画样式 */
  .collapse-transition {
    transition: 0.1s height ease-in-out, 0.1s padding-top ease-in-out,
      0.1s padding-bottom ease-in-out;
  }

  .horizontal-collapse-transition {
    transition: 0.1s width ease-in-out, 0.1s padding-left ease-in-out,
      0.1s padding-right ease-in-out;
  }

  .el-list-enter-active,
  .el-list-leave-active {
    transition: all 0.3s;
  }
}
